body {
    background-color: #000000;
}

header {
    background-color: #008B8B;
}

h1 {                                        /* Cabeçalho*/
    text-align: center;
    padding: 50px;
    margin: 0px;
    color: 	#8B008B;
    text-shadow: 3px 3px 3px #000000;
    font-size: 48px;
}

#sobre {
    background-image: url("morty1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 32px;
    min-height: 250px;
    color: #FFFF00;
    text-shadow: 3px 3px 3px #000000;
    padding: 270px;
    text-align: center;
    font-family: Luminari, fantasy;
    
    
}


#interesses {
    background-image: url("cubo.jpg");
    background-size: cover;
    min-height: auto;
    padding: 150px;
    
}


#interesses ul {
    font-family: Apple Chancery, cursive;
    color: #00CED1;
    font-size: 36px;
    text-shadow: 3px 3px 3px #000000;

}

#contatos {
    /*background-image:url("morty.jpg"); */
    background-color:	#1C1C1C; 
    background-size: cover;
    padding: 50px;
}


.icon1 {
    text-align: center;
}

#pé {
    text-align: center;
    font-size: 18px;
    color: #6A5ACD;

}

#menu {                                     /* Navbar */
    background-image: url("cubo3.jpg");
    margin-top: 1px;
    
}

#menu a {     
    margin-top: -50px;
    padding: 40px 25px;
    text-decoration: slateblue;
    color: 	#6A5ACD;
    text-shadow: 5px 5px 5px #111111;
    font-size: 24px;
    font-family: OCR A Std, monospace;
    
}

